body {
    background-color:lightgrey;

}

/* main title bar and shopping cart button */
.mainBar {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    justify-content: space-between; /* Espacia los elementos a los extremos */
    width: 96%;
    
}

.mainBar img {
    width: 58px;
    height: 58px;
    border-radius: 5px;
}

.mainBar h1 {
    background-color: white;
    color:blue;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    border-bottom: 10px;
}

#shoppingCartButton{
    background-color: rgba(0, 128, 0, 0.568);
    border-radius: 10px;
    padding: 13px;
    margin-right: 11px ;
}

#shoppingCartButton:hover{
    background-color: green;
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Buttons of categories and cards of products (with buttons) */
.cardContainer {
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Asegúrate de que los hijos se alineen en fila */
    justify-content: flex-start; /* Espacia los elementos a los extremos */
    align-items:flex-start; /* Alinea los elementos en la parte superior */
    width: 100%; /* O el ancho que desees */
}

.productCard {
    width: 260px;
    max-width: 260px; 
    height: 300px;
    padding-bottom: 25px;
    margin: 5px; /* Espacio entre los contenedores */
    font-size: 15px;
    line-height: 0.005;
    border-radius: 10px;
    background-color: white;
    display: flex; /* Activa Flexbox */
    flex: 1 1 260px;
    flex-direction: column; /* Alinea los botones en una columna */
    align-items: center; /* Centra los botones horizontalmente */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.productCard img {
    width: 215px;
    height: 200px;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow-y: auto;
    width: 100%; /* O un ancho fijo como 1200px */
    max-width: 100%; /* Establecer un ancho máximo */
    min-height: 100vh; /* Asegúrate de que el contenedor tenga al menos la altura de la ventana */
}

.ButtonBox {
    width: 216px; /* Ancho fijo para la ButtonBox */
    height: auto;
    margin-top: 4px;
    margin-left: 0px;
    background-color: white;
    padding-bottom: 15px;
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los botones en una columna */
    align-items: center; /* Centra los botones horizontalmente */
}
.click {
    margin: 1px 0;
    width: 95%;
    height: 50px;
}
.click:hover {
    background-color: green;
    color: white;
}

.AddButton {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: lightgrey;
}
.AddButton:hover{
    background-color:rgb(120, 167, 255);
    color: white;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 350px;
    position: fixed;
    left: -350px;
    top: 0;
    background-color:steelblue;
    transition: left 0.5s ease;
}

.sidebar.show{
    left: 0;
}
#finishBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    padding: 15px;

}

#contentCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 198, 219);
    border-radius: 5px;
    height: 100%;
    width: 300px;
    padding: 20px;
    padding-top: 15px; /* Agrega un poco de padding para que no esté pegado al borde */
    margin: 10px;
}

.devicesInCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espacia los elementos a los extremos */
    background-color: white;
    border-color:1px black ;
    border-radius: 5px;
    height: 80px;
    width: 110%;
    margin: 5px;
}

.devicesInCart img {
    width: auto;
    height: auto;
    float: right;
    border-radius: 5px;
}


.textBox p {
    color: black;
    font-weight: 500;
    line-height: 0.005; /* Ajusta el espaciado entre líneas */
    margin: 0px; /* Cambiado a 0 para evitar superposición */
    padding: 10px 0; /* Agregar padding si es necesario */
}

.quitOrAddButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    margin-right: 5px;
    justify-content: space-between;

}

.add-quit {

    width: 30px;
    height: 30px;
    line-height: 0.8;
    border-radius: 20px;
    border-color: black;
    font-weight:900;
}


